<h1>Novo Pedido: Muito Obrigado pela Compra</h1>
<h2>Codigo: {{idTransaction}}</h2>
<p>O pagamento pagamento foi realizado por {{method}}</p>
<h2>Uma vez que o pagamento for concluido, será enviado um email com a confirmação!!</h2>
<h3>A partir da confirmação do pagamento, seu produto será entregue via {{freteInfo.FreteServico}} em um prazo de até {{freteInfo.prazo}} dias uteis</h3>

<h2>Produtos</h2>
    {{#each Produtos}}
        <h3>Nome: {{Nome}}</h3>
        <span>Quantidade: {{quantidade}} </span>
        <p>-----------------------------------------</p>
        <b>SubTotal: {{subtotal}}</b>
      {{/each}}
    </tbody>
     
  </table>
  
