<h1>Novo Pedido</h1>
<p>Nome: {{data.Nome}}</p>
<p>Whatsapp: {{data.Whatsapp}}</p>
<p>Endereço: {{data.Endereco}}</p>
<p>Numero: {{data.Numero}}</p>
<p>Bairro: {{data.Bairro}}</p>
<p>Cidade: {{data.Cidade}}</p>
<p>Cep: {{data.Cep}}</p>
<p>Estado: {{data.Estado}}</p>

<h2>Produtos</h2>
  <h2>Valor Total: {{total}}</h2>
    {{#each produtos}}
        <h3>Nome: {{Nome}}</h3>
        <span>Quantidade: {{quantidade}} </span>
        <p>-----------------------------------------</p>
      {{/each}}
    </tbody>
     
  </table>
  
